@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #010101;
    overflow-x: hidden; 
}

/* Global Styles */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Header */

.header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    font-size: 1.6rem;
    z-index: 100;
}

nav {
    min-height: 70px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar{
    display: none;
}

nav a {
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}


nav .logo {
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: -100px;
    margin-bottom: 10px ;
}

nav ul {
    display: flex;
    gap: 40px;
    padding-right: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}


nav li a:hover {
    color: rgb(199, 199, 199);
    border-bottom-color: rgb(168, 166, 166);
}

.contactar{
    margin-right: -70px;
    margin-bottom: 12px;
}


.action_btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffc0cb;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: white;
}

.action_btn:hover {
    background-color: #ffd2da;
    transition: 0.3s ease;
}

.action_btn:not(:hover){
    background-color: #ffc0cb;
    transition: 0.3s ease;
}

/* Inicio */

/* Seccion Principal */

.grid-container{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "contenedor-enfoque-porque"
        "footer-grid";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010101;
    overflow-x: hidden;
}

.contenedor-enfoque-porque{
    grid-area: contenedor-enfoque-porque;
    justify-content: space-between;
    align-items: center;
    background-color: #010101;
    overflow: hidden;
}

.contenedor {
    width: 100%;
    min-height: 700px;
    background: url(../images/beach.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.principal{
    margin-top: 90px;
}

.principal h1 {
    font-size: 9rem;
    margin-top: -13rem;
    font-weight: bolder;
}

.linea-bienvenidos{
    width: 178px;
    border-bottom: 4px solid white
}

.principal p {
    margin: 2rem 0;
    font-size: 2.5rem;
    color: white;
}

.botones{
    margin-top: 30px;
    text-align: center;
    margin-right: 195px;
}

.botones .action_btn {
    padding: 12px 20px;
    background-color: rgba(128, 128, 128, 0.78);
    font-size: 1.5rem;
}

.botones .action_btn:hover {
    background-color: #ffc0cb;
}

/* Nuestro Enfoque */
.contenedorenfoque {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #010101;
}

.imagen{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.imagen img {
    height: 400px;
    max-width: 600px;
}

.enfoque p br{
    display: none;
}

.enfoque {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    color: white;
}

.enfoque h2 {
    margin-bottom: 5px;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.enfoque p {
    color: white;
    font-size: 1.8rem;
    margin-top: 20px;
}

.linea-enfoque {
    width: 103px;
    border-bottom: 3px solid white;
}

/* ¿Por qué Nosotros? */
.contenedor-porque{
    flex: 1;
    max-width: 100%;
    min-height: 680px;
    background: url(../images/Porque-nosotros.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    justify-content: start;
}

.contenedor-porque .contenedor-texto{
    width: 550px;
    height: 250px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
    color: rgb(230, 230, 230);
    background-color: #0101019a;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.252);
}

.contenedor-texto h3{
    font-size: 4rem;
    display: inline;
    font-weight: bolder;
}

.linea-nosotros{
    width: 160px;
    border-bottom: 2.8px solid rgb(230, 230, 230);
    margin-left: 150px;
    margin-top: 5px;
}

.texto-porque p br{
    display: none;
}

.texto-porque p{
    margin-top: 40px;
    font-size: 1.8rem;
    color: rgb(230, 230, 230);
}

/* Footer */
.footer-grid{
    grid-area: footer-grid;
    max-width: 1400px;
    background-color: #010101;
}

.footer{
    width: 100%;
    padding: 0;
    margin-top: 15px;
}

.footer-top ul{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.footer-top ul li i, p{
    display: inline-block;
    font-size: 2rem;
    color: rgb(72, 72, 72);
}


.copyright{
    font-size: 1.8rem;
    font-weight: bold;
}

.footer-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linea-footer{
    border-bottom: 1px solid rgb(72, 72, 72);
    width: 120px;
    margin-bottom: 12px;
}

.footer-bottom p{
    font-size: 1.2rem;
    text-align: center;
}

/* Página Servicios */

.grid-container-services{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "container-identidad-diseño"
        "footer-grid";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Section Principal */

.grid-container-services .main{
    width: 100%;
    min-height: 700px;
    background: url(../images/Pink-Lifeguard-Tower.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    display: flex;
}

.container-identidad-diseño{
    grid-area: container-identidad-diseño;
    justify-content: space-between;
    align-items: center;
    background-color: #010101;
    overflow: hidden;
}

.servicios h1{
    font-size: 5.5rem;
    margin-top: 400px;
    margin-right: 480px;
    font-weight: bolder;
}

/* Identidad */

.contenedor-identidad-diseño{
    width: 100%;
    /* height: auto; */
    background: url(../images/Identidad-Diseño.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
}


.contenedor-identidad{
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.identidad{
    display: inline-block;
    font-size: 3.5rem;
    color: white;
    margin-top: 70px;
    background-color: #0000006b;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.902);
    padding: 30px 80px;
}


.identidad p{
    color: white;
    margin-top: 40px;
    font-size: 2.2rem;
}

.identidad h2{
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.linea-identidad{
    width: 118px;
    border-bottom: 3px solid white;
    margin-top: 5px;
}

.botones-servicios .action_btn{
    font-size: 1.5rem;
    padding: 12px 20px;
    margin-top: 10px;
}

/* Diseño */
.contenedor-diseño{
    width: 100%;
    min-height: 550px;
    padding: 0;
}

.contenedor-diseño-contenido{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.contenedor-imagen-diseño img{
    display: block;
    width: 500px;
    max-height: 500px;
}

.contenedor-diseño-texto{
    display: inline-block;
    margin-top: 180px;
    background-color: #0000006b;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.902);
    padding: 30px 80px;
}

.botones-servicios{
    flex-direction: column;
}

.contenedor-diseño-texto h2{
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.linea-diseño{
    width: 152px;
    border-bottom: 3px solid white;
    margin-top: 5px;
}

.contenedor-diseño-texto p{
    color: white;
    font-size: 2.2rem;
    margin-top: 40px;
}

/* Pagina Sobre Nosotros */

.grid-container-nosotros{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "contenedor-article-somos"
        "footer-grid";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.grid-container-nosotros .main{
    max-width: 100%;
    height: 700px;
    background: url(../images/Somos-Familia-Photo.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.contenedor-article-somos{
    max-width: 100%;
    height: 660px;
    background: url(../images/Somos-nosotross.png);
    background-position: center center;
    background-repeat: no-repeat;
    grid-area: contenedor-article-somos;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.main .somos h1{
    font-size: 7rem;
    font-size: bold;
}

.somos{
    margin-bottom: 10px;
    margin-left: 800px;
}

.texto-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
}

.linea-somos{
    width: 201px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0px 40px;
    width: 350px;
}


.texto-h2{
    background-color: #010101ba;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.144);
    width: 700px;
    padding: 45px 60px;
    padding-bottom: 410px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255)
}

.texto-h2 h2{
    text-align: center;
    font-size: 2.1rem;
}

.contenedor-sobrenosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 0 350px;
    margin: -300px 0;
}

.imagen-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-sobre img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid white;
}

.imagen-sobre p {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}

/* Página Proyectos */

.grid-container-projects{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "contenedor-proyec"
        "footer-grid";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


.grid-container-projects .main{
    width: 100%;
    min-height: 700px;
    background: url(../images/proyectos.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.proyectos h1{
    margin-left: 930px;
    margin-top: 254px;
    color: rgb(255, 255, 255);
    font-size: 6rem;
    font-weight: bolder;
}

.contenedor-proyec{
    grid-area: contenedor-proyec;
    background: url(../images/fondo-proyecto.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.proyecto-1{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.proyecto-1 img{
    width: 100%;
    height: 100%;
}

.proyecto-2{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.proyecto-2 img{
    width: 100%;
    height: 100%;
}

.proyecto-3{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.proyecto-3 img{
    width: 100%;
    height: 100%;
}

.proyecto-4{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.proyecto-4 img{
    width: 100%;
    height: 100%;
}

/* Página Contacto */

.grid-container-contacto{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer-grid";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.grid-container-contacto .main{
    width: 100%;
    min-height: 720px;
    background: url(../images/Contacto.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.background-form {
    height: 400px;
    width: 400px;
    background-color: #00000020; 
    position: fixed;
    margin-bottom: 80px; 
    border-radius: 15%;
    z-index: -1;
}

form {
    width: 380px;
    margin-bottom: 48px;
    padding: 33px 20px;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 6%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.252);
    position: relative; 
}

.form-field {
    position: relative;
    margin-top: 20px;
    margin-bottom: 35px;
}

.form-field label {
    position: absolute;
    top: -27px;
    left: 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.636);
    pointer-events: none;
}

.form-field input, .form-field textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    transition: 0.3s;
}

.form-field input:focus, .form-field textarea:focus{
    font-size: 1rem;
}

.form-field .border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.471);
}

.enviar {
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 240px;
    position: relative;
}

.enviar:hover{
    background-color: #ffd2da;
    transition: 0.3s ease;
}

.enviar:not(:hover){
    background-color: #ffc0cb;
    transition: 0.3s ease;
}

/* Responsive Mobile */

/* Inicio */

/* Navbar */
@media (max-width: 990px) {
    nav .logo a{
        margin-left: 20px;
    }
}

@media screen and (max-width: 414px) {
    .navbar{
        display: block;
        background:transparent;
    }
    .navbar-desktop{
        display: none;
    }
    .navbar-brand{
        font-size: 1.5rem;
        font-weight: bolder;
        color: rgba(22, 22, 22, 0.743);
    }
    .navbar-toggler{
        border: none;
        color: white;
    }
    .navbar-toggler-icon{
        color: white;
    }
    .contenedor{
        background-image: url(../images/Inicio-Mobile.png);
        width: 100%;
        height: 900px;
    }
    .principal{
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 110px;
    }
    .principal h1{
        font-size: 5rem;
    }
    .principal .linea-bienvenidos{
        margin-left: 16px;
        width: 98px;
    }
    .principal p{
        font-size: 1.7rem;
        margin-top: 30px;
    }
    .botones{
        display: flex;
        margin-right: -10px;
        margin-top: 70px;
    }
    .botones .saber{
        margin-left: 20px;
    }
    .imagen{
        width: 100%;
    }
    .enfoque{
        margin-left: 38px;
        margin-top: 120px;
        justify-content: center;
        position: absolute;
    }
    .enfoque h2{
        font-size: 3.5rem;
        margin-left: 205px;
        margin-top: -280px;
    }
    .enfoque .linea-enfoque{
        width: 70px;
        margin-left: 205px;
    }
    .enfoque p{
        text-align: end;
        margin-left: 205px;
        margin-top: 30px;
        font-size: 1.4rem;
    }
    .enfoque p br{
        display: block;
    }
    .contenedor-porque .contenedor-texto{
        width: 300px;
        height: 150px;
        margin-top: 160px;
        background-color: #0101019a;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.252);
    }
    .contenedor-texto h3{
        font-size: 2.8rem;
        margin-right: -70px;
        margin-top: 140px;
    }
    .contenedor-texto .linea-nosotros{
        width: 115px;
        margin-left: 130px;
    }
    .contenedor-texto p{
        font-size: 1.6rem;
        margin-left: -30px;
        margin-top: 30px;
    }
    .contenedor-texto p br{
        display: block;
    }
    

}

/* Nuestro Enfoque */
@media (max-width: 950px) {
    .enfoque{
        margin-right: 50px;
    }
}

/* ¿Por qué Nosotros */
    @media (max-width: 950px){
        .contenedor-texto h3, .linea-nosotros{
        margin-left: -45px;
    }
    .linea-nosotros{
        margin-left: 165px;
    }
    .contenedor-porque .contenedor-texto{
        font-size: 1rem;
        padding-bottom: 150px;
    }
}